*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #7a7fff;
}

main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #d1d3ff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px gray;
}

.photo{
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 10px;
	background-color: red;
	border: 3px #dbdcff;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	box-shadow: 0 0 10px 3px gray;
	transition: all 1.7s ease;
}

.photo:hover{
	transform: rotate(360deg) scale(1.5);
}

h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1{
	background-image: url(../img/1.jpg);
}

.photo2{
	background-image: url(../img/2.jpg);
}

.photo3{
	background-image: url(../img/3.jpg);
}

.photo4{
	background-image: url(../img/4.jpg);
}

.photo5{
	background-image: url(../img/5.jpg);
}
.gl{
	transition: all 1s ease;
	box-shadow: 0 0 10px 3px gray;
	margin: auto;
	width: 145px
}
.gl:hover{
	transform: rotate(360deg) scale(2);
}
